<ion-content  padding class="fundo">
	<form style="padding-top: 170px;" [formGroup]="loginForm" (submit)="loginUser()" novalidate>
		<ion-item>
			<ion-label stacked>Email</ion-label>
			<ion-input formControlName="email" type="email"
					   placeholder="Seu email"
					   [class.invalid]="!loginForm.controls.email.valid && blur">
			</ion-input>
		</ion-item>
		<ion-item class="error-message" *ngIf="!loginForm.controls.email.valid &&
											   loginForm.controls.email.dirty">
			<p>Por favor informe um email válido.</p>
		</ion-item>
		<ion-item>
			<ion-label stacked>Senha</ion-label>
				<ion-input formControlName="password" type="password"
			   placeholder="sua senha"
			   [class.invalid]="!loginForm.controls.password.valid && blur">
				</ion-input>
		</ion-item>
		<ion-item class="error-message" *ngIf="!loginForm.controls.password.valid
											   && loginForm.controls.password.dirty">
			<p>A senha precisa conter mais de 6 caracteres.</p>
		</ion-item>
		<button color="dark" ion-button block type="submit" [disabled]="!loginForm.valid">
			Entrar
		</button>
	</form>
	<button style="color: white" ion-button block clear (click)="goToSignup()">
		Criar nova conta
	</button>
	<!--
		<button style="color: white" ion-button block clear (click)="goToResetPassword()">
			Esqueci minha senha :(
		</button>
  	-->
</ion-content>